.edit-wrap {
    .more-proerty {
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            color: rgb(119, 119, 119);
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn {
            border-width: 2px;
            background-color: rgba(0, 0, 0, .0);
            font-weight: 400;
            opacity: 0.8;
            padding: 8px 16px;
        }

        .border-btn {
            border: 1.5px solid;
            background: transparent none repeat scroll 0% 0%;
            border-radius: 0px;
            padding: 9px 25px;
            margin-top: 10px;
        }

        .btn:hover {
            opacity: 1;
        }

        .btn:focus,
        .btn:hover,
        .btn:active {
            outline: 0;
        }

        .btn.focus,
        .btn:focus,
        .btn:hover {
            color: #333;
            text-decoration: none;
        }
    }
}