.map-wrap {
    .map-block {
        .ymaps-b-balloon__content-holster {
            padding: 0;
        }

        .proerty-item {
            width: 240px;

            @media screen and (max-width: 480px) {
                width: 180px;
            }
        }

        .item-thumb {
            overflow: hidden;

            a {
                position: relative;
                display: block;
                padding-top: 66%;

                img {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }

        .item-entry {
            padding-left: 5px;
            padding-right: 5px;

            h5 {
                height: 38px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}