.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    clear: both;

    &.proerty-th {
        .proerty-item {
            height: 100%;
            margin: 0px;
        }

        .p0 {
            padding: 10px;
        }

        .col-sm-6 {
            max-width: 100%;

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

@import "./index";
@import "./map";
@import "./news";